.divheadercontent
{
    float:left;
    width:100%;
    position:relative;
}
.header
{
    float:left;
	position: fixed;
	top: 0;
    width: 100%;
	opacity: 100;
	z-index: 9999999;
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.fixed-header {
	opacity: 0.95;
	box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
  	-webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
}

.top-bar 
{
    float:left;
    width:100%;
	background-color: #fff;	        
        padding-top:2px;
	
}
.right_cont {
    float:left; 
    width:auto;
    text-align: left;
    font-size: 17px;
    padding: 5px;
    color: #6c6d71;
    word-spacing: 2px;
    font-family: "proxima_nova_ltlight";
    border-radius: 0px 0px 10px 10px;
}
.right_cont a{ color: #6c6d71;}
.right_cont .fa{color:#e21a36;}

.top-bar.color-bar {
	border-bottom: 0;
}

.top-bar.color-bar a {
	color: rgba(255,255,255,.6);
}

.top-bar.color-bar a:hover {
	color: rgba(255,255,255,1) !important;
}

.navbar {
	margin-bottom: 0;
	background: #fff;
	border: none;
	border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
	border-bottom:4px solid #e51937;
	height:auto;
	float:left;
	width:100%;
	
}

.navbar-brand {
    width:auto;
	float:left;
	height:auto;
	position:relative;
	padding: 0;
	margin: 14px 0;
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.navbar-brand a{
	width:90%!important;
	float:left;
	height:auto;	
}

.navbar-brand a img {
	width:80% !important;
	float:left;
	height:auto; text-align:center	;
}


.navbar-default .navbar-nav {
	margin-right: 10px!important;
	position: relative;
	z-index:10000;
	margin-top:18px;
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.navbar-default .navbar-nav > li {
    margin-left: 6px;
}
.navbar-default .navbar-nav .li_home
{
    background:url(../images/icon-home.png) no-repeat;
    width:13px;
    height:10px;    
}
.navbar-default .navbar-nav .li_home:hover
{
    background:url(../images/icon-home-hover.png) no-repeat;
    width:13px;
    height:10px;    
}
.navbar-default .navbar-nav > li:first-child {
    margin-left: 0;
}

.navbar-default .navbar-nav > li > a {
	color: #3c3c3c;
	display: block;
    font-size: 14px;
 text-transform: uppercase;
	font-weight: 300;
    padding: 8px 10px;
	overflow: hidden;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    font-weight: 400;
	
}


.navbar-default .navbar-nav > li > a.active, .navbar-default .navbar-nav > li:hover > a {
	color: #e51937;
	 transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
	
}

.navbar-default .navbar-nav > li > a i {
	margin: 0 -2px 0 -5px;
}



.navbar-default .navbar-nav > li > a.active:after {
	opacity: 1;
	
	
}


.navbar-default .navbar-nav .dropdown {
    position: absolute;
    left: 0;
    top: 85%;
    width: 180px;
	background-color: #fff;
    visibility: hidden;	
	border-top:3px solid #e41c39;
    z-index: 2;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-default .navbar-nav > li.drop:hover .dropdown {
    visibility: visible;
	opacity: .9;
}
.home-link:hover
{
    width:13px;
    height:10px;
    background:url("images/icon-home-hover.png") no-repeat;
}

.dropdown li, .sup-dropdown li {
	position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.04);
}

.dropdown li:first-child, .sup-dropdown li:first-child {
    border-top: none;
}

.dropdown li a, .sup-dropdown li a {
    display: block;
    color: #454545;
    font-size: 13px;
 	border-bottom: 1px solid #d5d5d5;
    padding: 11px 16px;
    text-decoration: none;
    text-transform: capitalize;
    transition: padding 0.2s ease-in-out;
    -moz-transition: padding 0.2s ease-in-out;
    -webkit-transition: padding 0.2s ease-in-out;
    -o-transition: padding 0.2s ease-in-out;
}


.dropdown > li:hover > a, .sup-dropdown li:hover > a {
	padding-left: 18px;
}

.dropdown li a i {
	margin: 0 0 0 -4px;
}

.navbar-default .navbar-nav .sup-dropdown {
    position: absolute;
    left: 100%;
    top: 0;
    width: 180px;
	background-color: #fff;
    margin-top: 10px;
    transition: margin-top 0.2s ease-in-out;
    -moz-transition: margin-top 0.2s ease-in-out;
    -webkit-transition: margin-top 0.2s ease-in-out;
    -o-transition: margin-top 0.2s ease-in-out;
    visibility: hidden;
    z-index: 3;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-default .navbar-nav li.drop .dropdown li:hover .sup-dropdown {
    visibility: visible;
    margin-top: 0;
}

.search-side {
	position: relative;
	float: right;
	top: 19px;
	right: -15px;
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.show-search {
	position: relative;
	display: block;
	float: right;
}

.show-search i {
	font-size: 1.2em !important;
	display: block;
	color: #454545;
	width: 36px;
	height: 36px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
	line-height: 36px;
	text-align: center;
	background-color: #f2f2f2;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.show-search:hover i {
	color: #454545;
}

.navbar .search-form {
	position: absolute;
	right: 0;
	z-index: 20;
	float: right;
	display: none;
	top: 40px;
}

.navbar .search-form:before {
	background-color: #ccc;
	top: -2px;
	content: '';
	display: block;
	height: 4px;
	width: 4px;
	z-index: 20;
	right: 15px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
}

.navbar .search-form form input {
	border: 2px solid #ccc;
	border-radius: 3px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
	padding: 5px 14px;
	z-index: 22;
	color: #9d9d9d;
	box-shadow: none;
	-o-box-shadow: none;
	-moz-box-shadow: none;
  	-webkit-box-shadow: none;
	outline: none;
	box-shadow: none;
}

.navbar .search-form form {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 20;
}
