.contact_header{
margin-top: 80px;
margin-left: 80px;
margin-bottom: 20px;
color: #4b8ac6;
font-family: "Raleway", Helvetica, Arial, sans-serif;
font-size: 35px;
border-bottom-width: 1px;
border-botom-color: rgb(142,181,219);
border-bottom-style: solid;
padding-bottom: 20px;
}
.contact_header span{
color: #193651;
}
.contact_info{
    margin-left: 80px;
    font-family: sans-serif;
}
.contact_info strong{
    color: darkturquoise;
}
.container col-sm-7 contact_info ul,li{
    list-style-type: none;
    margin-left: 100px;
}
.contact_form{
    
    margin-left: 130px;
    position: relative;
    
}
.blog_style{
    color: darkcyan;
    font-weight: 600;
    padding-bottom: 20px;
}

.textbox{
    padding-bottom: 20px;
    box-shadow: 1px;
    margin-left: 100px;
    border-radius: 30px;
}


.bottomtext{
    font-weight: 600;
    font-family: sans-serif;
    font-size: 35px;
    font-style: normal;
    padding-top: 20px;
}
.bottomtext strong{
    color: cadetblue;
}

    .sidenav {
    height: 50%;
    width: 250px;
    position: fixed;
    box-sizing: border-box;
    top: 120px;
    right: 30px;
    background: #eee;
    overflow-x:visible;
    padding: 8px 0;
    border-radius: 25px;
    
}
.sidenav_travelI{
    height: 50%;
    width: 250px;
    position: fixed;
    box-sizing: border-box;
    top: 150px;
    right: 30px;
    background: #eee;
    overflow-x: visible;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}
 .sidenav a:hover {
    color: #064579;
}
   
.map{
    border: 0px;
    border: solid;
    border-color: white;
    margin-bottom: 15px;
}
 .image{
    display: block;
    max-width: 50%;
    height: 20px;
}

